*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#content1
{
    width:100vw;
    height:100vh;
    display:flex;
    background-color:pink;
    justify-content:center;
    align-items:center;
}

#content-box
{
    margin-top:20px;
    height:650px;
    width:600px;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:1px solid white;
    border-radius:20px;
    box-shadow:10px 10px 20px black;
}

#content-box h1
{
    margin-top:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size:50px;
    font-weight:bold;
    text-shadow:2px 2px 5px rgb(45, 44, 44);
}

p
{
    height:40px;
    width:500px;
    font-size:30px;
    color:white;
    font-weight: bold;
}

input
{
    height:40px;
    width:500px;
    font-size:30px;
    border:none;
    box-shadow:10px 15px 20px rgb(0, 0, 0);
}

.buttons
{
    height:50px;
    width:400px;
    background-color: yellow;
    border:1px solid white;
    border-radius:5px;
    color: rgb(67, 64, 64);
    font-size:30px;
    box-shadow:10px 15px 30px rgb(54, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:cursor;
}

.buttons:hover
{
    cursor: pointer;
}

/* styling for table  */
#content-box2
{
    height:100vh;
    width:100vw;
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-box
{
    margin-top:20px;
    box-shadow:10px 15px 10px grey;
}
